.my-todos {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #e6d2c4;
}

a {
  color: #564444;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

.filters {
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filters p {
  font-weight: bold;
  margin-bottom: 10px;
}

.filters div {
  margin-bottom: 10px;
}

.filters label {
  margin-left: 10px;
}

.filters button {
  background-color: #797474;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  color: white;
}

.filters button:hover {
  background-color: #e0b1a8;
}

a:hover {
  text-decoration: underline;
}

#todo-main {
  background: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njd8fHNpbXBsZXxlbnwwfHwwfHx8MA%3D%3D);
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.add-todo-btn {
  background-color: #797474;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 20px;
  margin: 20px auto;
  display: block;
}

.add-todo-btn:hover {
  background-color: #e0b1a8;
}

.add-todo-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  width: 300px;
}

.add-todo-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #797474;
}

.add-todo-window label {
  display: block;
  margin-bottom: 5px;
}

.add-todo-window input[type="text"],
.add-todo-window select {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-todo-window .date,
.add-todo-window .time {
  display: inline-block;
  margin-right: 10px;
}

.add-todo-window .todo-inputs div {
  margin-bottom: 15px;
}

.add-todo-window .todo-actions {
  margin-top: 15px;
}

.todo-container {
  margin-top: 20px;
  max-width: 500px;
}

.todo-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-actions button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: #797474;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #797474;
}

.close:hover {
  color: rgb(200, 168, 168);
}

/*calendar style start*/

.calendar {
  width: 500px;
  height: auto;
  overflow-y: auto;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  z-index: 1;
}

.modal-calendar-content {
  background-color: $canvas;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

#calendarClose {
  color: #b1a6a6;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close-calendar:hover,
.close-calendar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#calendarForm {
  margin: auto;
  padding: 20px;
  border: solid #d1d2d2;
}

#calendarForm label {
  display: block;
  margin-bottom: 5px;
  color: $Text-primary;
}

.calendar-saveBtn {
  width: 100%;
  margin-top: 10px;
  background-color: $color-background-NiceToHaveBtn;
  color: black;
  padding: 10px 20px;
  border: 1px solid #353836;
  /* Товщина, колір та стиль рамки */
  cursor: pointer;
  border-radius: 10px;
}

.calendar-saveBtn:hover {
  background-color: $color-hover-button;
}

input[type="text"],
input[type="datetime-local"] {
  width: 180px;
}

// ul {
//   width: 100%;
// }

.event-list-container {
  margin: 20px auto;
  padding: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.event-list-container li.future-event {
  background-color: rgb(255, 251, 254);
  width: auto;
  padding: 10px;
}
.event-list-container li.past-event {
  background-color: #a4a7a6;
  width: auto;
  padding: 10px;
}

.event-name {
  font-weight: bold;
}

.event-time {
  color: #3b279f;
  margin-right: 10px;
}

.delete-event {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.delete-event:hover {
  background-color: #808080;
}

@media only screen and (max-width: 600px) {
  input[type="text"],
  input[type="datetime-local"] {
    font-size: 14px;
    padding: 6px 10px;
  }
}
/*calendar style end*/
