.my-todos {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-page-container > button {
  background: none;
  font-size: 14px;
  border: none;
}

a {
  color: #564444;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

.filters {
  width: 1000px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#todo-page-container > div > div > p {
  font-weight: 600;
}

.filters p {
  display: inline-block;
  margin-bottom: 10px;
}


.filters button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#todo-main {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://images.unsplash.com/photo-1482053450283-3e0b78b09a70?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#todo-page-container {
  width: 1000px;
  min-height: 100vh;
  margin: auto;
  padding: 40px 0;
}
#date {
  height: 32px;
}
#day, #hour{
  width: 100px;
  height: 32px;
  padding-left: 10px;
}

.add-todo-btn {
  background: $color-background-redBtn;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin: 40px auto;
  display: block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.add-todo-btn:hover {
  background-color: $color-hover-redBtn;
}

.add-todo-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CDCDCD;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  width: 300px;
}

.add-todo-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: $color-background-redBtn;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 5px;
}
#add-todo-form > div > div.timeestimate > label:nth-child(1){
  margin-top: 20px;
  font-weight: 800;
}
.add-todo-window label {
  display: block;
  margin-bottom: 5px;
}
#todo-page-container > div > div > div.add-todo-window > h2 {
  margin-bottom: 20px;
}
.add-todo-window input[type="text"],
.add-todo-window select {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-todo-window .date,
.add-todo-window .time {
  display: inline-block;
  margin-right: 10px;
}

.add-todo-window .todo-actions {
  margin-top: 15px;
}

.todo-container {
  margin-top: 20px;
  max-width: 500px;
}

#todo-page-container > div > div > div:nth-child(5){
  text-align: right;
}

#sorting{
  width: fit-content;
  border: 0.5 solid black;
  border-radius: 5px;
  padding: 3px 12px;

}
.todo-item {
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;  
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.todo-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-actions {
  text-align: right;
}

.todo-actions button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: $color-background-redBtn;
  border: none;
  padding: 6px 10px;
  margin: 0;
  border-radius: 5px;
}
div.todo-actions > button.edit-todo-btn{
  background: black;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #797474;
}

.close:hover {
  color: rgb(200, 168, 168);
}

/*calendar style start*/

.calendar {
  width: 500px;
  height: auto;
  overflow-y: auto;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  z-index: 1;
}

.modal-calendar-content {
  background-color: $canvas;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

#calendarClose {
  color: #b1a6a6;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close-calendar:hover,
.close-calendar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#calendarForm {
  margin: auto;
  padding: 20px;
  border: solid #d1d2d2;
}

#calendarForm label {
  display: block;
  margin-bottom: 5px;
  color: $Text-primary;
}

.calendar-saveBtn {
  width: 100%;
  margin-top: 10px;
  background-color: $color-background-NiceToHaveBtn;
  color: black;
  padding: 10px 20px;
  border: 1px solid #353836;
  /* Товщина, колір та стиль рамки */
  cursor: pointer;
  border-radius: 10px;
}

.calendar-saveBtn:hover {
  background-color: $color-hover-button;
}

input[type="text"],
input[type="datetime-local"] {
  width: 180px;
}

// ul {
//   width: 100%;
// }

.event-list-container {
  margin: 20px auto;
  padding: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.event-list-container li.future-event {
  background-color: rgb(255, 251, 254);
  width: auto;
  padding: 10px;
}
.event-list-container li.past-event {
  background-color: #a4a7a6;
  width: auto;
  padding: 10px;
}

.event-name {
  font-weight: bold;
}

.event-time {
  color: #3b279f;
  margin-right: 10px;
}

.delete-event {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.delete-event:hover {
  background-color: #808080;
}

@media only screen and (max-width: 600px) {
  input[type="text"],
  input[type="datetime-local"] {
    font-size: 14px;
    padding: 6px 10px;
  }
}
/*calendar style end*/
