
/* ----- style for header ----- */
header{
    background: lightgray;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#weather-icon {
    width: 30px;
    font-size:20px;
}
//style for calender and Pomodoro timer
nav > div:nth-child(2) > button{
    width: 120px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 8px;
}
nav > div:nth-child(2) > button:hover{
    background: rgb(224, 224, 224);
    cursor: pointer;
}
#profileName {
    border: none;
    margin:0 10px 0 5px;
    background: none;
}
#signOutBtn {
    width: 70px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 6px;
}
#signOutBtn:hover {
    cursor: pointer;
    
}



/* ----- style for main ----- */
.main-container {
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1482053450283-3e0b78b09a70?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container-inloggde {
    background: url(https://images.unsplash.com/photo-1482053450283-3e0b78b09a70?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.main-inloggning {
    background: rgba(255, 255, 255, 0.95);
    // border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12% 55%;
    border-radius: 20px;    
    padding: 30px;
    width: 370px;
    height: 450px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
h1 {
    margin: 0;
    font-weight: 300;
}
.login_title{
    display: flex;
    width: 100%;
}
#usernameInput,#passwordInput {
    width: 95%;
    height: 32px;
    margin: 5px;
    padding-left: 10px;
}
div.main-inloggning > div > button{
    font-size: 1rem;
    border: none; 
    margin: 2rem 0.6rem;
    background: none;
    width: 150px;
    height: 50px;
}
#login{
    border-bottom: 2px solid red;
    }

#signinBtn,#registerBtn{
    background: $color-background-redBtn;
    color: white;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 99px;
    margin: 20px 0;
}
#signinBtn:hover,
#registerBtn:hover{
    background: rgb(255, 76, 76);
    color: white;
    cursor: pointer;
}

.main-inloggde {
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 5%;
    min-width: 40%;
    max-width: 70%;
    height: 10%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    margin: 15% 0;
}
h2.apiGreating {
    margin: 10px 0;
}
.apiQuote {
    font-size: large;
    font-weight: 300;
    margin-bottom: 50px;
}

#myTodosBtn, #myHabitsBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $color-background-redBtn; 
    color: white; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0;
}

#myTodosBtn:hover, #myHabitsBtn:hover {
    background-color: $color-hover-redBtn;
}