$canvas:white;
$primary-bg-color:#efefef;
$Secondary-bg-color:orange;

$Text-primary:black;
$Text-secondary:white;
$Text-tertiary:orange;


$color-background-button: gray;
$color-text-button:white;
$color-hover-button: lightgray;

$color-background-NiceToHaveBtn: gray;
$color-text-NiceToHaveBtn: gray;
$color-hover-NiceToHaveBtn: #afafaf;

$color-background-redBtn: #e30303;
$color-text-redBtn:white;
$color-hover-redBtn: rgb(253, 87, 87);

$color-background-todoBtn:linear-gradient(#F3A39A, #cf6f63);
$color-text-todoBtn:white;
$color-hover-todoBtn: #cf6f63;

$h1-fontsize:2rem;
$h2-fontsize:1.5rem;
$h3-fontsize:1rem;
$h4-fontsize:0.8rem;
$p-fontsize:0.7rem;