$canvas:white;
$primary-color:lightgray;

$color-hover-button: lightgray;
$color-background-button: gray;
$color-text-button:white;

$color-background-NiceToHaveBtn: gray;
$color-text-NiceToHaveBtn: gray;
$color-hover-NiceToHaveBtn: lightgray;

$h1-fontsize:2rem;
$h2-fontsize:1.5rem;
$h3-fontsize:1rem;
$h4-fontsize:0.8rem;
$p-fontsize:0.7rem;