@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.ad {
  height: 300px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://images.unsplash.com/photo-1486551937199-baf066858de7?q=80&w=3033&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.timer {
  border-radius: 16px;
  width: 400px;
  height: 300px;
  background-color: #efefef;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.timer button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.timer-option-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 16px 16px 0px 0px;
}
.timer-option-container button {
  color: white;
  background-color: #6D6D6D;
  border: none;
  border-radius: 4px;
}
.timer-option-container button:hover {
  background-color: black;
}

.set-time-btn {
  width: 60px;
  height: 30px;
}

.timer-text {
  font-size: 64px;
}

.timer-use-btn {
  width: 180px;
  height: 60px;
  margin-bottom: 16px;
  background-color: #6D6D6D;
  border: none;
  border-radius: 16px;
  color: white;
}
.timer-use-btn:hover {
  background-color: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.habit-page-container {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 36px;
}

.habit-option-container {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 16px;
  width: 1000px;
}
.habit-option-container a {
  text-decoration: none;
  color: black;
}
.habit-option-container #add-habit-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #e30303;
  align-self: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 40px 0;
}
.habit-option-container #add-habit-btn:hover {
  background-color: rgb(253, 87, 87);
}
.habit-option-container select {
  width: -moz-fit-content;
  width: fit-content;
  border: 0.5px sloid black;
  padding: 3px 16px;
  border-radius: 5px;
  align-self: flex-end;
}
.habit-option-container #back-btn {
  font-size: 14px;
  text-align: left;
  align-self: auto;
  background-color: transparent;
  color: black;
  border: none;
}
.habit-option-container #back-btn:hover {
  cursor: pointer;
}
.habit-option-container #filter-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background-color: black;
  align-self: auto;
  border: none;
  border-radius: 5px;
  color: white;
}
.habit-option-container #filter-btn:hover {
  background-color: #282828;
}

.filter-text {
  font-weight: 600;
}

.habit-container {
  width: 40vw;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 16px;
}

.habit {
  background-color: #efefef;
  width: 1000px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 48px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.habit h2::first-letter {
  text-transform: capitalize;
}
.habit .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 4px;
  background-color: #e30303;
  border: none;
  border-radius: 4px;
  color: white;
}
.habit .delete-btn:hover {
  background-color: rgb(253, 87, 87);
}
.habit .edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 6px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
}
.habit .edit-btn:hover {
  background-color: #282828;
}
.habit #streakTitle {
  margin-right: 12px;
}
.habit .decrease-streak-btn, .habit .increase-streak-btn {
  color: white;
  padding: 4px 7px;
  font-weight: bold;
  background-color: black;
  border: none;
}
.habit .decrease-streak-btn:hover, .habit .increase-streak-btn:hover {
  background-color: #282828;
}
.habit .reset-streak-btn {
  padding: 4px 8px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 24px;
}
.habit .reset-streak-btn:hover {
  background-color: #282828;
}

.streak {
  background-color: white;
  width: 24px;
  text-align: center;
}

.streak-container {
  display: flex;
  font-size: 18px;
}

.add-habit-window {
  width: 400px;
  height: 300px;
  padding: 12px;
  background-color: #efefef;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  z-index: 100;
  margin-top: 200px;
  padding: 49px;
}
.add-habit-window h2 {
  margin-bottom: 24px;
}
.add-habit-window #addHabitButton {
  color: white;
  background-color: black;
  width: 120px;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  align-self: center;
  margin-top: 24px;
}
.add-habit-window #addHabitButton:hover {
  background-color: #444444;
}

.closeBtn {
  position: absolute;
  margin: 10px;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-color: #CC0000;
  border: none;
  border-radius: 4px;
  color: white;
}
.closeBtn:hover {
  background-color: #a10000;
}

.habit-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.habit-inputs input {
  padding: 8px;
}
.habit-inputs select {
  padding: 8px;
  border: 1px solid darkgray;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}

#todo-main > div:nth-child(1) {
  height: 300px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://images.unsplash.com/photo-1548248823-ce16a73b6d49?q=80&w=2188&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.my-todos {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-page-container > button {
  background: none;
  font-size: 14px;
  border: none;
}

a {
  color: #564444;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

.filters {
  width: 1000px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#todo-page-container > div > div > p {
  font-weight: 600;
}

.filters p {
  display: inline-block;
  margin-bottom: 10px;
}

.filters button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#todo-page-container {
  width: 1000px;
  min-height: 100vh;
  margin: auto;
  padding: 40px 0;
}

#date {
  height: 32px;
}

#day, #hour {
  width: 100px;
  height: 32px;
  padding-left: 10px;
}

.add-todo-btn {
  background: linear-gradient(#F3A39A, #cf6f63);
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin: 40px auto;
  display: block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.add-todo-btn:hover {
  background: #cf6f63;
}

.add-todo-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CDCDCD;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  width: 300px;
}

.add-todo-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e30303;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 5px;
}

#add-todo-form > div > div.timeestimate > label:nth-child(1) {
  margin-top: 20px;
  font-weight: 800;
}

.add-todo-window label {
  display: block;
  margin-bottom: 5px;
}

#todo-page-container > div > div > div.add-todo-window > h2 {
  margin-bottom: 20px;
}

.add-todo-window input[type=text],
.add-todo-window select {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-todo-window .date,
.add-todo-window .time {
  display: inline-block;
  margin-right: 10px;
}

.add-todo-window .todo-actions {
  margin-top: 15px;
}

.todo-container {
  margin-top: 20px;
  max-width: 500px;
}

#todo-page-container > div > div > div:nth-child(5) {
  text-align: right;
}

#sorting {
  width: -moz-fit-content;
  width: fit-content;
  border: 0.5 solid black;
  border-radius: 5px;
  padding: 3px 12px;
}

.todo-item {
  width: 1000px;
  background-color: #efefef;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 32px;
}

.todo-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-actions {
  text-align: right;
}

.todo-actions button {
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(#F3A39A, #cf6f63);
  border: none;
  padding: 6px 10px;
  margin: 0;
  border-radius: 5px;
}

div.todo-actions > button.edit-todo-btn {
  background: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #797474;
}

.close:hover {
  color: rgb(200, 168, 168);
}

/*calendar style start*/
.calendar {
  width: 500px;
  height: auto;
  overflow-y: auto;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  z-index: 1;
}

.modal-calendar-content {
  background-color: white;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

#calendarClose {
  color: #b1a6a6;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close-calendar:hover,
.close-calendar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#calendarForm {
  margin: auto;
  padding: 20px;
  border: solid #d1d2d2;
}

#calendarForm label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.calendar-saveBtn {
  width: 100%;
  margin-top: 10px;
  background-color: gray;
  color: black;
  padding: 10px 20px;
  border: 1px solid #353836;
  /* Товщина, колір та стиль рамки */
  cursor: pointer;
  border-radius: 10px;
}

.calendar-saveBtn:hover {
  background-color: lightgray;
}

input[type=text],
input[type=datetime-local] {
  width: 280px;
  height: 40px;
  margin-bottom: 10px;
  padding: auto;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=datetime-local]:focus {
  outline: none;
  border-color: red;
}

.event-list-container {
  margin: 20px auto;
  padding: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.event-list-container li.future-event {
  background-color: #b1b1b1;
  width: auto;
  padding: 10px;
  margin: 10px;
}

.event-list-container li.past-event {
  background-color: #dbdbdb;
  color: #9e9e9e;
  width: auto;
  padding: 10px;
  margin: 10px;
}

#eventListCalendar .eventName {
  font-weight: bold;
}

.event-time {
  color: #3b279f;
  margin-right: 10px;
}

.delete-event {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.delete-event:hover {
  background-color: #808080;
}

@media only screen and (max-width: 600px) {
  input[type=text],
  input[type=datetime-local] {
    font-size: 14px;
    padding: 6px 10px;
  }
}
/*calendar style end*/
/* ----- style for header ----- */
header {
  background: lightgray;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#weather-icon {
  width: 30px;
  font-size: 20px;
}

nav > div:nth-child(2) > button {
  width: 120px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 8px;
}

nav > div:nth-child(2) > button:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

#profileName {
  border: none;
  margin: 0 10px 0 5px;
  background: none;
}

#signOutBtn {
  width: 70px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 6px;
}

#signOutBtn:hover {
  cursor: pointer;
}

/* ----- style for main ----- */
.main-container {
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1482053450283-3e0b78b09a70?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container-inloggde {
  background: url(https://images.unsplash.com/photo-1482053450283-3e0b78b09a70?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(0, 0, 0);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-inloggning {
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12% 55%;
  border-radius: 20px;
  padding: 30px;
  width: 370px;
  height: 450px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-weight: 300;
}

.login_title {
  display: flex;
  width: 100%;
}

#usernameInput, #passwordInput {
  width: 95%;
  height: 32px;
  margin: 5px;
  padding-left: 10px;
}

div.main-inloggning > div > button {
  font-size: 1rem;
  border: none;
  margin: 2rem 0.6rem;
  background: none;
  width: 150px;
  height: 50px;
}

#login {
  border-bottom: 2px solid red;
}

#signinBtn, #registerBtn {
  background: #e30303;
  color: white;
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 99px;
  margin: 20px 0;
}

#signinBtn:hover,
#registerBtn:hover {
  background: rgb(255, 76, 76);
  color: white;
  cursor: pointer;
}

.main-inloggde {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5%;
  min-width: 40%;
  max-width: 70%;
  height: 10%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 15% 0;
}

h2.apiGreating {
  margin: 10px 0;
}

.apiQuote {
  font-size: large;
  font-weight: 300;
  margin-bottom: 50px;
}

#myTodosBtn, #myHabitsBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3cb46e;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}

#myTodosBtn:hover, #myHabitsBtn:hover {
  background-color: #36ce75;
}/*# sourceMappingURL=styles.css.map */