@import "partials/variables";
@import "partials/mixins";
@import "partials/anton";
@import "partials/Jenia";
@import "partials/shishi";



body{
    // border: 2px solid red;
    // background:rgb(140, 140, 140);
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}