@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.timer {
  border-radius: 16px;
  width: 400px;
  height: 500px;
  background-color: #035E7B;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.timer button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timer-option-container {
  width: 100%;
  height: 60px;
  background-color: #003e52;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 16px 16px 0px 0px;
}
.timer-option-container button {
  color: white;
  background-color: gray;
  border: none;
  border-radius: 4px;
}
.timer-option-container button:hover {
  background-color: lightgray;
}

.set-time-btn {
  width: 60px;
  height: 30px;
}

.timer-text {
  font-size: 64px;
}

.timer-use-btn {
  width: 180px;
  height: 60px;
  margin-bottom: 16px;
  background-color: gray;
  border: none;
  border-radius: 16px;
  color: white;
}
.timer-use-btn:hover {
  background-color: lightgray;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.habit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.habit-option-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 16px;
  padding: 12px;
}
.habit-option-container a {
  text-decoration: none;
  color: black;
}
.habit-option-container button {
  padding: 8px;
  border-radius: 8px;
  width: 100px;
  border: none;
  background-color: gray;
}
.habit-option-container button:hover {
  background-color: lightgray;
}
.habit-option-container select {
  width: -moz-fit-content;
  width: fit-content;
}

.habit-container {
  width: 80vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 60vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  padding: 24px;
  margin-bottom: 24px;
}

.habit {
  background-color: white;
  width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.habit h2::first-letter {
  text-transform: capitalize;
}
.habit .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.habit .edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.streak-container {
  display: flex;
  gap: 4px;
}

.add-habit-window {
  width: 250px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
  background-color: olive;
  display: none;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  z-index: 100;
  margin-top: 200px;
  box-shadow: 0px 0px 300px 120px gray;
}

.closeBtn {
  position: absolute;
  margin: 10px;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-color: gray;
  border: none;
  border-radius: 4px;
}
.closeBtn:hover {
  background-color: lightgray;
}

.habit-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-todos {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #e6d2c4;
}

a {
  color: #564444;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

.filters {
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filters p {
  font-weight: bold;
  margin-bottom: 10px;
}

.filters div {
  margin-bottom: 10px;
}

.filters label {
  margin-left: 10px;
}

.filters button {
  background-color: #797474;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  color: white;
}

.filters button:hover {
  background-color: #e0b1a8;
}

a:hover {
  text-decoration: underline;
}

#todo-main {
  background: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njd8fHNpbXBsZXxlbnwwfHwwfHx8MA%3D%3D);
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.add-todo-btn {
  background-color: #797474;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 20px;
  margin: 20px auto;
  /* Center the button horizontally */
  display: block;
  /* Ensure the button takes up full width */
}

.add-todo-btn:hover {
  background-color: #e0b1a8;
}

.add-todo-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  /* Забезпечуємо вікну найвищий шар над іншими елементами */
  display: none;
  /* Початково ховаємо вікно */
  width: 300px;
  /* Задаємо ширину вікна */
}

.add-todo-window .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #797474;
}

.add-todo-window label {
  display: block;
  margin-bottom: 5px;
}

.add-todo-window input[type=text],
.add-todo-window select {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-todo-window .date,
.add-todo-window .time {
  display: inline-block;
  margin-right: 10px;
}

.add-todo-window .todo-inputs div {
  margin-bottom: 15px;
}

.add-todo-window .todo-actions {
  margin-top: 15px;
}

.todo-container {
  margin-top: 20px;
  max-width: 500px;
}

.todo-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-actions button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: #797474;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #797474;
}

.close:hover {
  color: rgb(200, 168, 168);
}

/*calendar style start*/
/*calendar*/
/* CSS стилі */
/* Стилі для модального вікна календаря */
#calendarModal {
  width: 400px;
  height: auto;
  overflow-y: auto;
  /* Додаємо вертикальний скролінг */
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  z-index: 1;
}

.modal-calendar-content {
  background-color: white;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

.close-calendar {
  color: #aaa;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close-calendar:hover,
.close-calendar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Стилі для форми додавання події */
#calendarForm {
  margin: auto;
  padding: 20px;
  background-color: #d3d3d3;
}

#calendarForm label {
  display: block;
  margin-bottom: 5px;
}

form button {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(239, 239, 239);
  color: black;
  padding: 10px 20px;
  border: 1px solid #353836;
  /* Товщина, колір та стиль рамки */
  cursor: pointer;
  border-radius: 30px;
}

form button:hover {
  background-color: #7ae17f;
}

/* Стилі для зменшення розміру введення */
input[type=text],
input[type=datetime-local] {
  width: 180px;
  /* Встановіть ширину введення на ваш вибір */
}

/* Стилі для списку подій */
ul {
  width: 250px;
}

.event-list-container {
  margin: 20px auto;
  padding: 30px;
  width: 80%;
  border: 1px solid #ccc;
  background-color: rgb(241, 238, 238);
  margin-bottom: 10px;
}

#upcomingEventList {
  background-color: rgb(167, 167, 226);
  width: auto;
  padding: 10px;
}

#pastEventList {
  background-color: #83dead;
  width: auto;
  padding: 10px;
}

.event-name {
  font-weight: bold;
}

.event-time {
  color: #3b279f;
  /* Колір тексту */
  margin-right: 10px;
  /* Зміщення між "Start Time" та "End Time" */
}

.delete-event {
  background-color: #5f5c5c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.delete-event:hover {
  background-color: #cc0000;
  /* Колір при наведенні */
}

/* Стилі для мобільної версії */
@media only screen and (max-width: 600px) {
  input[type=text],
  input[type=datetime-local] {
    font-size: 14px;
    padding: 6px 10px;
  }
}
/*calendar style end*/
/* Зміни для мобільних пристроїв */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
/* ----- style for header ----- */
header {
  background: lightgray;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#weather-icon {
  width: 30px;
  font-size: 20px;
}

nav > div:nth-child(2) > button {
  width: 120px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 8px;
}

nav > div:nth-child(2) > button:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

#profileName {
  border: none;
  margin: 0 10px 0 5px;
  background: none;
}

#signOutBtn:hover {
  cursor: pointer;
}

/* ----- style for main ----- */
.main-container {
  background: url(https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNpbXBsZXxlbnwwfHwwfHx8MA%3D%3D);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container-inloggde {
  background: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njd8fHNpbXBsZXxlbnwwfHwwfHx8MA%3D%3D);
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.main-inloggning {
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px 0% 150px 55%;
  border-radius: 20px;
  padding: 3%;
  width: 370px;
  height: 450px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-weight: 300;
}

.login_title {
  display: flex;
  width: 100%;
}

#usernameInput, #passwordInput {
  width: 95%;
  height: 32px;
  margin: 5px;
  padding-left: 10px;
}

div.main-inloggning > div > button {
  font-size: 1rem;
  border: none;
  margin: 2rem 0.6rem;
  background: none;
  width: 150px;
  height: 50px;
}

#login {
  border-bottom: 2px solid red;
}

#signinBtn, #registerBtn {
  background: red;
  color: white;
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 99px;
  margin: 20px 0;
}

#signinBtn:hover,
#registerBtn:hover {
  background: rgb(255, 76, 76);
  color: white;
  cursor: pointer;
}

.main-inloggde {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  padding: 5%;
  min-width: 40%;
  max-width: 70%;
  height: 10%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 180px 0;
}

h2.apiGreating {
  margin: 0;
}

.apiQuote {
  font-size: large;
  font-weight: 300;
  margin-bottom: 50px;
}

#myTodosBtn, #myHabitsBtn, #myCalendarsBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}

#myTodosBtn, #myHabitsBtn:hover {
  background-color: #45a049;
}/*# sourceMappingURL=styles.css.map */